In [ ]:
#Install necessary tool
pip install tabula-py

In [1]:
#import tabula
from tabula import read_pdf
df = read_pdf('Bike-Share-Programs-in-the-United-States-2016.pdf')

In [2]:
df.head()

,Table 1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,System Name,Location,Launch Date,Bike Tech,Operator Type,Bikes at Launch,Bikes as of 12/2016
1,ArborBike,"Ann Arbor, MI",September 2014,B-Cycle,Independently Operated,45,125
2,Austin B-Cycle,"Austin, TX",December 2013,B-Cycle,Independently Operated,75,520
3,AvMed Rides,"Broward County, FL",December 2011,B-Cycle,B-Cycle,200,275
4,Baltimore Bike Share,"Baltimore, MD",October 2016,Bewegen,Independently Operated,200,200

In [3]:
df[0:1]

,Table 1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,System Name,Location,Launch Date,Bike Tech,Operator Type,Bikes at Launch,Bikes as of 12/2016

In [4]:
list(df[0:1])

['Table 1',
 'Unnamed: 1',
 'Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6']

In [15]:
df.rename(columns={'System Name': 'Location'}, inplace=True)

In [20]:
df.drop([0], inplace =True)

In [21]:
df.head()

,Location,Location,Launch Data,Bike Tech,Operator Type,Bikes at Launch,Bikes as of 12/20/2016
1,ArborBike,"Ann Arbor, MI",September 2014,B-Cycle,Independently Operated,45,125
2,Austin B-Cycle,"Austin, TX",December 2013,B-Cycle,Independently Operated,75,520
3,AvMed Rides,"Broward County, FL",December 2011,B-Cycle,B-Cycle,200,275
4,Baltimore Bike Share,"Baltimore, MD",October 2016,Bewegen,Independently Operated,200,200
5,Bay Area Bike Share,"San Francisco Bay Area, CA",August 2013,PBSC,Motivate,700,700

In [22]:
df.to_csv(r'bike_launches.csv')